body {
    background-image: url(mask3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.mainheader {
    color: rgb(69, 2, 2);
    font-style: oblique;
    font-size: xx-large;
    text-align: center;
}
.topnav {
    background-color: rgb(69, 2, 2);
    overflow: hidden;
  }
  
.topnav a {
    float: left;
    color: silver;
    text-align: center;
    padding: 14px 100px;
    text-decoration: none;
    font-size: 25px;
}
.topnav a:hover {
    background-color: silver;
    color:  rgb(69, 2, 2);
}

.eventheader {
    color:  silver;
    font-style: oblique;
    text-align: left;
    padding: 30px 150px;
    font-size: xx-large;
}
.eventmain {
    color:  silver;
}

footer {
    color:  rgb(69, 2, 2);
    font-style: oblique;
    font-size: small;
    padding-bottom: 0%;
}

.sidenav {
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 130px;
    right: 8px;
    background-color:  rgb(69, 2, 2);
    overflow-x: hidden;
    padding-top: 20px;
}
  
.sidenav a {
    padding: 14px 28px;
    text-decoration: none;
    font-size: 22px;
    color: silver;
    display: block;
}
  
.sidenav a:hover {
    background-color: silver;
    color:  rgb(69, 2, 2);
}
