body {
    background-image: url('moon.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.mainheader {
    color:rgb(160, 158, 158);
    font-style: oblique;
    font-size: xx-large;
    text-align: center;
}
.topnav {
    background-color: rgb(64, 64, 66);
    overflow: hidden;
  }
  
.topnav a {
    float: left;
    color: rgb(160, 158, 158);
    text-align: center;
    padding: 14px 80px;
    text-decoration: none;
    font-size: 25px;
}
.topnav a:hover {
    background-color: rgb(160, 158, 158);
    color:  rgb(64, 64, 66);
}

footer {
    color:  rgb(64, 64, 66);
    font-style: oblique;
    font-size: small;
    padding-bottom: 0%;
}

.sidenav {
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 130px;
    right: 8px;
    background-color:  rgb(64, 64, 66);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}
  
.sidenav a {
    padding: 14px 28px;
    text-decoration: none;
    font-size: 22px;
    color: rgb(160, 158, 158);
    display: block;
}
  
.sidenav a:hover {
    background-color: rgb(160, 158, 158);
    color: rgb(25, 25, 90);
}

.moonheader {
    color: rgb(160, 158, 158);
    font-size: x-large;
    font-style: italic;
}
.moonmain {
    color: rgb(160, 158, 158);
    font-size: larger;
}
.moonsubmain {
    color: rgb(160, 158, 158);
    font-size: large;
}