body {
    background-image: url('renaissance.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.mainheader {
    color:whitesmoke;
    font-style: oblique;
    font-size: xx-large;
    text-align: center;
}
.topnav {
    background-color: rgb(123, 123, 188);
    overflow: hidden;
  }
  
.topnav a {
    float: left;
    color: rgb(250, 216, 175);
    text-align: center;
    padding: 14px 80px;
    text-decoration: none;
    font-size: 25px;
}
.topnav a:hover {
    background-color: rgb(250, 216, 175);
    color:  rgb(123, 123, 188);
}

footer {
    color:  rgb(123, 123, 188);
    font-style: oblique;
    font-size: small;
    padding-bottom: 0%;
}

.sidenav {
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 130px;
    right: 8px;
    background-color:  rgb(123, 123, 188);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}
  
.sidenav a {
    padding: 14px 28px;
    text-decoration: none;
    font-size: 22px;
    color: rgb(250, 216, 175);
    display: block;
}
  
.sidenav a:hover {
    background-color: rgb(250, 216, 175);
    color: rgb(123, 123, 188);
}

.renaissanceheader {
    color: rgb(250, 216, 175);
    font-size: x-large;
    font-style: italic;
}
.renaissancemain {
    color: rgb(250, 216, 175);
    font-size: larger;
}
.renaissancesubmain {
    color: rgb(250, 216, 175);
    font-size: large;
}