body {
    background-image: url('spell.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.mainheader {
    color:rgb(53, 237, 53);
    font-style: oblique;
    font-size: xx-large;
    text-align: center;
}
.topnav {
    background-color: rgb(72, 7, 72);
    overflow: hidden;
  }
  
.topnav a {
    float: left;
    color: rgb(53, 237, 53);
    text-align: center;
    padding: 14px 100px;
    text-decoration: none;
    font-size: 25px;
}
.topnav a:hover {
    background-color: rgb(53, 237, 53);
    color:  rgb(72, 7, 72);
}

footer {
    color:  rgb(72, 7, 72);
    font-style: oblique;
    font-size: small;
    padding-bottom: 0%;
}

.sidenav {
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 130px;
    right: 8px;
    background-color:  rgb(72, 7, 72);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}
  
.sidenav a {
    padding: 14px 28px;
    text-decoration: none;
    font-size: 22px;
    color: rgb(53, 237, 53);
    display: block;
}

.sidenav a:hover {
    background-color: rgb(53, 237, 53);
    color: rgb(72, 7, 72);
}

.spellheader {
    color: rgb(53, 237, 53);
    font-size: x-large;
    font-style: italic;
}
.spellmain {
    color: rgb(53, 237, 53);
    font-size: larger;
}
.spellsubmain {
    color: rgb(53, 237, 53);
    font-size: large;
}