body {
    background-image: url('venetia.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.mainheader {
    color: rgb(226, 226, 172);
    font-style: oblique;
    font-size: xx-large;
    text-align: center;
}
.topnav {
    background-color: rgb(41, 41, 125);
    overflow: hidden;
  }
  
.topnav a {
    float: left;
    color: rgb(226, 226, 172);
    text-align: center;
    padding: 2% 5%;
    text-decoration: none;
    font-size: 25px;
}
.topnav a:hover {
    background-color: rgb(226, 226, 172);
    color:  rgb(41, 41, 125);
}

footer {
    color:  rgb(41, 41, 125);
    font-style: oblique;
    font-size: small;
    padding-bottom: 0%;
}

.sidenav {
    width: 10%;
    position: fixed;
    z-index: 1;
    top: 18%;
    right: 0.5%;
    background-color:  rgb(41, 41, 125);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}
  
.sidenav a {
    padding: 7% 20%;
    text-decoration: none;
    font-size: 22px;
    color: rgb(226, 226, 172);
    display: block;
}
  
.sidenav a:hover {
    background-color: rgb(226, 226, 172);
    color: rgb(41, 41, 125);
}

.venetiaheader {
    color: rgb(226, 226, 172);
    font-size: x-large;
    font-style: italic;
}
.venetiamain {
    color: rgb(226, 226, 172);
    font-size: larger;
}
.venetiasubmain {
    color: rgb(226, 226, 172);
    font-size: large;
}
